* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #d9d9d9;
    background-color: #0c0c0c;
}

a {
    text-decoration: none;
    color: #2769b5;
}

.padding-nav {
    padding: 16px 10%;
}

.container .nav {
    background-color: #0c0c0c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .nav img {
    height: 50px;
}

.container .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container .nav ul li {
    display: inline-block;
    margin-right: 16px;
}

.container .nav ul li:last-child {
    margin-right: 0;
}

.container .nav ul li a {
    padding: 4px 8px;
    color: #d9d9d9;
}

.container .nav ul li a:hover {
    border-bottom: 1px solid #d9d9d9;
}

.bg-image {
    height: 100vh;
    background-image: url("../images/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #d9d9d9;
    text-align: center;
    position: relative;
}

.absolute-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.bg-image h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 56px;
    text-shadow: black 4px 0 10px;
}

.bg-image p {
    margin: 0;
    text-shadow: black 4px 0 10px;
}

.about-us-div {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: #0c0c0c;
    color: #d9d9d9;
    height: 300px;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.about-us-div h1 {
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 15px;
}

.about-us-div p {
    text-align: right;
    font-size: 20px;
}

.story-div {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: #d9d9d9;
    color: #0c0c0c;
    height: 300px;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.story-div h1 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 15px;
}

.story-div p {
    font-size: 20px;
}

.mission-div {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: #0c0c0c;
    color: #d9d9d9;
    justify-content: center;
    align-content: center;
    padding: 20px;
    position: relative;
    height: 300px;
}

.mission-div h1 {
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 15px;
}

.mission-div p {
    font-size: 20px;
    text-align: right;
}

.about-us-div img {
    width: 300px;
    height: 200px;
}

.story-div img {
    width: 300px;
    height: 200px;
}

.mission-div img {
    width: 300px;
    height: 200px;
}

footer {
    padding: 12px 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    color: #481E14;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    padding-right: 10px;
}