* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #d9d9d9;
    background-color: #0c0c0c;
}

a {
    text-decoration: none;
    color: #2769b5;
}

.padding-nav {
    padding: 16px 10%;
}

.container .nav {
    background-color: #0c0c0c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .nav img {
    height: 50px;
}

.container .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container .nav ul li {
    display: inline-block;
    margin-right: 16px;
}

.container .nav ul li:last-child {
    margin-right: 0;
}

.container .nav ul li a {
    padding: 4px 8px;
    color: #d9d9d9;
}

.container .nav ul li a:hover {
    border-bottom: 1px solid #d9d9d9;
}

.contact-main {
    display: flex;
    flex-direction: row;
}

.contact-main img {
    width: 50%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.form-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;

    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #d9d9d9;
    color: #0c0c0c;
}

.title-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-div h1 {
    padding-bottom: 10px;
}

input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.507);
    height: 30px;  
    background-color: #d9d9d9;
}

textarea {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.507);
    background-color: #d9d9d9;
}

#lbl-name {
    padding: 7px 0;
}

#lbl-email {
    padding: 7px 0;
}

#lbl-mess {
    padding: 7px 0;
}

#submit {
    margin-top: 20px;
    background-color: #d9d9d9;
    width: 80px;
}

#submit:hover {
    background-color: #F2613F;
    color: #0c0c0c;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.1);
}

.sumb-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 12px 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    color: #481E14;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    padding-right: 10px;
}