/* Colors */
/* 0C0C0C
   481E14
   9B3922
   F2613F */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #d9d9d9;
    background-color: #0c0c0c;
}

a {
    text-decoration: none;
    color: #2769b5;
}

.padding-nav {
    padding: 16px 10%;
}

.container .nav {
    background-color: #0c0c0c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .nav img {
    height: 50px;
}

.container .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container .nav ul li {
    display: inline-block;
    margin-right: 16px;
}

.container .nav ul li:last-child {
    margin-right: 0;
}

.container .nav ul li a {
    padding: 4px 8px;
    color: #d9d9d9;
}

.container .nav ul li a:hover {
    border-bottom: 1px solid #d9d9d9;
}

.bg-image {
    height: 100vh;
    background-image: url("../images/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #d9d9d9;
    text-align: center;
    position: relative;
}

.absolute-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.bg-image h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 56px;
    text-shadow: black 4px 0 10px;
}

.bg-image p {
    margin: 0;
    text-shadow: black 4px 0 10px;
}

.main {
    margin-top: 64px;
    margin-bottom: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

#myInput {
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    background-color: #d9d9d9;
}

#myInput:focus {
    outline: 3px solid #d9d9d9;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
}

.dropdown-content {
    display: block;
    position: absolute;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #d9d9d9;
    z-index: 1;
}

.dropdown-content a {
    color: #0c0c0c;
    background-color: #d9d9d9;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
}

.dropdown a:hover {
    background-color: #F2613F;
    color: #0c0c0c;
}

.search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
    top: 24px;
    transform: translate(-50%, -50%);
    stroke: #0c0c0c;
}

.show {
    display: block;
}

.card img {
    width: 200px;
}

footer {
    padding: 12px 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    color: #481E14;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    padding-right: 10px;
}